html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0; padding: 0;
}

.content {
  flex: 1 0 auto;
}

.peerdustry-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 16px 0px; */
  gap: 16px;

  width: 100%;
  height: 56px;

  background: #00437F;
}

.peerdustry-footer p {
  height: 15px;

  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;

  text-align: center;
  letter-spacing: 0.5px;

  color: #FFFFFF;
}

.peerdustry-footer .peerdustry-logo {
  width: 24px;
  height: 24px;
}

.peerdustry-footer .peerdustry-link {
  position: absolute;
  width: 96px;
  right: 32px;
  z-index: 1;
  bottom: 20px;
}